{{!-- Footer --}}
<footer id="footer">
  <div class="row">
    <div class="">
      <ul>
        <li><a class="title" href="{{@site.url}}">The Article Feed</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/about#articles">Articles</a></li>
        <li><a href="/about#bookmarks">Bookmarks</a></li>
      </ul>
    </div>
    <div class="">
      <ul>
        <li><a class="title" href="/">Topics</a></li>
        <li><a href="/about#collect">Collect</a></li>
        <li><a href="/">Selection</a></li>
        <li><a href="/">New</a></li>
      </ul>
    </div>
    <div class="">
      <ul>
        <li><a class="title" href="/about#subscriptions">Subscriptions</a></li>
        <li><a href="/about#subscriptions">Subscribe to category</a></li>
        <li><a href="/about#subscriptions">Delete subscription</a></li>
      </ul>
    </div>
    <div class="">
      <ul>
        <li><a class="title" href="/about">Site</a></li>
        <li><a href="/terms-of-use">Content Terms</a></li>
        <li><a href="/access">Privacy</a></li>
        <li><a href="/access">Write for us</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <section class="copy">
      <a href="{{@site.url}}">{{@site.title}}</a>&nbsp;
      <a href="https://www.gnu.org/licenses/copyleft.en.html" target="_blank">
        <span class="copyleft">&copy;</span>
      </a>&nbsp;{{date format="YYYY"}}
    </section>
  </div>
</footer>