<noscript>
	<div class="content">
		<header class="major">
      <h2>Notice</h2>
    </header>
		<p>Please enable Javascript for better interface responsiveness.</p>
		<!-- <span class="button close">Close</span> -->
	</div>
</noscript>