<!-- Begin Mailchimp Signout Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
  #main #mc_embed_signup .mc-field-group { padding-top: 10px; padding-left: 0px; }
</style>
<div id="mc_embed_signup">
  <form id="mc-unsubscribe-form" action="https://articlefeed.us3.list-manage.com/unsubscribe/post" method="POST">
    <div id="mc_embed_signup_scroll">
      <h2>Unsubscribe</h2>
      {{content}}
      <input type="hidden" name="u" value="c0a930fe1be08072f91ce8e97">
      <input type="hidden" name="id" value="b7d3f2ff6b">
      <input type="hidden" name="orig-lang" value="1">
      <div class="mc-field-group">
        <input type="text" name="EMAIL" value="" placeholder="Email Address" id="email-address">
      </div>
      <br>
      <input class="button" type="submit" value="Unsubscribe">
    </div>
  </form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>