b-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
package-lock.json
defaults.js

.idea/*
*.iml
*.map
projectFilesBackup

.DS_Store

dist/

assets/main/js/gs.js
