{{!< default}}

{{!-- Search results --}}
{{> search}}

{{#post}}
<section>
  <header class="post-full-header">
    <h1 class="post-full-title">{{title}}</h1>
  </header>
  {{content}}
  <section>
  
{{/post}}