.taglist {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
	display: inline-block;
}
.taglist li {
	display: inline-block;
	padding-left: 0.125em;
}
.taglist li:first-child {
	padding-left: 0;
}
.taglist li:last-child .sep {
	display: none;
}

.bookmark {
	cursor: pointer;
}
.bookmark.active {
	border-bottom-color: #f56a6a;
  color: #f56a6a !important;
}
.bm .ln {
	color: #3d4449;
  font-family: "Roboto Slab",serif;
  font-weight: 500;
  border-bottom: none;
}

.bm .date {
	font-size: 0.9em;
}