/* k */

.k-nav {
	position: relative;
}
.k-nav #menu>ul>li:first-child,
.k-nav #menu > ul > li {
	display: inline-block;
	border-top: none;
	
	margin: 0;
  padding: 0.5em 0 0 0;
}
.k-nav #menu>ul>li:first-child a {
	padding-left: 0.125em;
}
.k-nav #menu > ul > li a {
	padding: 0.325em 1.125em;
}

.k-nav #menu > ul > li:not(:first-child) a {
	border-left: solid 1px rgba(210,215,217,0.75);
}

.k-nav #menu {
	display: inline-block;
}
.k-nav #menu > ul > li:last-child {
	border-right: none;
}
.k-nav .icons {
	display: inline-block;
	margin-bottom: 0;
	position: absolute;
	right: 0;
	bottom: 0;
}
.icons img.icon {
	display: inline-block;
	height: 1em;
	width: 1em;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: .2s;
  cursor: pointer;
}
.icons img.icon:hover,
.icons img.icon.active {
	-webkit-filter: none; /* Safari 6.0 - 9.0 */
  filter: none;
}

noscript .content {
	position: relative;
	border: 1px solid #F44336;
  padding: 2em 2em 0em 2em;
}
noscript .content header.major * {
	margin: 0 0 1em 0;
}
noscript .content .close {
	position: absolute;
	right: 2em;
	bottom: 2em;
	display: block;
}

/* Overrides */

 #header {
 	padding: 0;
	display: block;
	position: relative;
	border-bottom: solid 1px #f56a6a;
	margin-bottom: 1em;
}
#header .logo {
	font-size: 1.625em;
  letter-spacing: normal;
  padding: 0em .6em 0em 0;
  display: inline-block;
}
 #header>* {
  -moz-flex: none;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  margin-bottom: 0;
}

#sidebar .toggle {
	display: none;
}
.post-full-title {
	font-size: 3em;
}
#main>.inner>section {
	border-top: none;
}
#main>.inner>section:first-of-type {
	padding: 2em 0 4em 0;
}
#sidebar .inner {
	padding-top: 4em;
	height: 100vh;
	overflow-y:scroll; 
}
#sidebar>.inner>* {
	border-bottom: none;
	padding: 0;
}
#menu ul {
	text-transform: capitalize;
}
#menu .icon {
	display: inline-block;
	height: 2.3em;
	width: 2.3em;
	vertical-align: middle;
	margin-bottom: .75em;
	margin-right: .3em;
	margin-left: .5em;
	background-image: url(/assets/images/taf_64.png);
	background-repeat:  no-repeat;;
	background-size: 100% 100%;
	background-position: 0 0;
}
#menu .icon:hover {
	background-image: url(/assets/images/taf_64_2.png);
	background-repeat:  no-repeat;
	background-size: 100% 100%;
	background-position: 0 0;
}
.similar {
  margin: 0 0 2em -3em;
  width: calc(100% + 3em);
}
#over-wrap { 
	padding: 0 12em;	
}
#main>.inner {
  padding: 0 2em .1em 2em;
  word-wrap: break-word;
}
.author-box .author-profile-image {
  height: 50px;
  width: 50px;
  margin-right: 15px;
}

.author-profile-image {
	margin: 0px 0px 15px 10px;
}

@media screen and (min-width: 1680px) {
	
	.posts article.small {
    width: calc(25% - 6em);
  }
  .similar.posts article.small {
    width: calc(25% - 3em);
  }
}
@media screen and (max-width: 1680px) {
	.posts article.small {
    margin-bottom: 2em;
  }
  #sidebar .toggle {
  	left: 24.5em;
  }
}
@media screen and (max-width: 1280px) {
	.posts article.small {
    margin-bottom: 2em;
  }
  /*#sidebar .toggle {
  	display: block;
  }*/
}

/*
@media screen and (min-width: 737px) { 
	#over-wrap { 
		padding: 0 6em;
	}
}
*/

@media screen and (max-width: 736px) {

	#header .icons {
    height: 5em;
    line-height: 6em;
    display: inline-block;
    position: absolute;
    right: 0;
    top: none;
    bottom: 0;
	}
	#over-wrap { 
		padding: 0;
	}

	#header {
		padding: 2em 1em 0.6em 1em;
	}
	#header .k-logo {
		text-align: center;
	}

	.posts article.small {
    width: calc(50% - 6em);
	}
	.similar.posts article.small {
    width: calc(50% - 3em);
  }
}
@media screen and (max-width: 480px){
	#over-wrap { 
		padding: 0;
	}
	#main>.inner {
	  padding: 0 2em .1em 2em;
	}
	#header {
		padding: 2em 1em 0.6em 1em;
	}
	#header .k-logo {
		text-align: center;
	}
}
@media screen and (max-width: 360px){
	#over-wrap { 
		padding: 0;
	}
	#main>.inner {
	  padding: 0 2em .1em 2em;
	}
	#header {
		padding: 2em 1em 0.6em 1em;
	}
	#header .k-logo {
		text-align: center;
	}
}

/*
article.small:nth-last-child(4):before{height:100%}
article.small:nth-last-child(3):before{height:100%}
article.small:nth-last-child(2):before{height:100%}
*/

.rotate30 {
	transform: rotate(30deg);
}
.rotate90 {
	transform: rotate(90deg);
}

/* posts display overrides */

.posts article.small:before{
  height: calc(100% + 0em);
}
.posts article.small:nth-child(2n):before{display:block}
.posts article.small:nth-child(2n+1):before{display:block}
.posts article.small:nth-child(3n+1):before{display:block}
.posts article.small:nth-child(4n+1):before{display:none}
.posts article.small:first-child:before{display:none}
.posts article.small:after{display:none;}
.posts article.small {
	min-height: 375px;
}
.posts article.small a.frame {
  max-height: 138px;
}

.similar.posts article.small:before{display:none;}
.similar.posts article.small:after{display:none;}
.similar.posts article.small {
	margin: 0 0 3em 3em;
	min-height: 250px;
}

article.small h3 {
	font-size: 0.9em;
}
article.small p {
	font-size: 0.85em;
	margin: 0 0 1em 0;
}
article.small a.more  {
	font-size: 0.85em;
}

/* new classes */

.taglist {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
	display: inline-block;
}
.taglist li {
	display: inline-block;
	padding-left: 0.125em;
}
.taglist li:first-child {
	padding-left: 0;
}
.taglist li:last-child .sep {
	display: none;
}

/* -------------------
		bookmark feature
	 -------------------	*/

.bookmark {
	cursor: pointer;
}
.bookmark.active {
	border-bottom-color: #f56a6a;
  color: #f56a6a !important;
}
.icons {
	position: relative;
}
.icons .layer {
	position: absolute;
	top:0;
	left: 0;
	display: none;
}
.bm:not(:last-child) {
	border-bottom: 1px solid #d8d8d8;
  margin-bottom: 0.6em;
  padding-bottom: 0.3em;
}
.bm .ln {
	color: #3d4449;
  font-family: "Roboto Slab",serif;
  font-weight: 500;
  border-bottom: none;
}
.bm .date {
	font-size: 0.9em;
}

.author-box {
	position: relative;
	cursor: default;
}
.author-box a.ln {
	border-bottom: none;
}
.author-box a.tag {
	display: inline-block;
}
.author-box .icons {
  position: absolute;
	right: 20px;
}
.author-box:hover {
  color: inherit!important;
}
.author-box-content {
	display: block;
}
.author-box-content .sep:last-child {
	display: none;
}

/* -------------------
		search feature
	 -------------------	*/

.search {
	margin-top: 2.5em;
}
.search h2 {
	display: inline-block;
	margin-bottom: 0.6em;
}
.search span {
	font-size: 0.9em;
}
.search-bar {
	position: relative;
}
.search-bar i {
	position: absolute;
	right: 9px;
	top: 6px;
	cursor: pointer;
}
.search-bar i:hover {
	color:#f56a6a;
}
.search-result {
	margin-bottom: 1em;
}
.search-result:last-child {
	border-bottom: solid 5px #f56a6a;
  padding: 0em 0 1.8em 0;
  position: relative;
}
.search-result .date {
	font-size: 0.8em;
	color: #555;
}
.search-result .meta {
	font-size: 0.9em;
	margin: 0;
}
.search-result a {
	border-bottom: none;
}
.ghost-search-header {
	display: none;
}
#ghost-search-field {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#ghost-search-results {
		margin-bottom: 2em;
}
.pull-bottom {
	position: absolute;
	bottom: 0px;
}
.pull-bottom-right {
	position: absolute;
	bottom: 0px;
	right: 0px;
}